form {
  // border: var(--border-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-s);
  width: 100%;
  flex-wrap: wrap; // Allows form elements to wrap to the next line if needed
  

  label {
    // border: var(--border-dark);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-xs);
  }
  
  input {
    width: 300px;
    letter-spacing: 2px;
    outline: none;
    color: var(--color-light);
    line-height: var(--space-xxl);
    font-size: var(--font-size-l);
    padding-left: var(--space-s);
    border: 0;
    border-bottom: solid 5px var(--color-primary);
    background-color: transparent;
  }

  input::placeholder {
    color: #ffffff; /* Sets the placeholder text color to white */
    background-color: transparent;
    opacity: 1; /* Ensures the placeholder text is fully opaque */
  }
  
  .search-info {
    padding: 4px;
    color: #ffffff;; /* Set text color for error messages */
    font-size: var(--font-size-xs); /* Adjust font size if needed */
    margin-top: var(--space-xs); /* Space between input and error message */
  }
}
