form {
  // border: var(--border-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-s);
  width: 100%;
  flex-wrap: wrap; // Allows form elements to wrap to the next line if needed
  

  label {
    // border: var(--border-dark);
    font-size: var(--font-size-xs);
  }
  
  .btn {
    width: 200px;
  }
  
  input {
    width: 300px;
    letter-spacing: 2px;
    outline: none;
    line-height: var(--space-xxl);
    padding-left: var(--space-s);
    border: solid 2px var(--color-primary);
    border-radius: var(--border-radius);
  }
  
  input:focus {
    border: solid 2px var(--color-secondary);
  }
}

