.content {
    grid-area: content;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-m);

    .overview-location {
        padding: var(--space-xxs);
        padding-left: var(--space-l);
        padding-right: var(--space-l);
        padding-bottom: 0px;
        color: white;
        font-size: var(--font-size-xxxl);
        font-weight: bold;
    }

    .overview-body {
        align-self: center;    
        display: flex;
        gap: var(--space-m);
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    
        .icon {
            background-color: #d6d0b8d5;
            border-radius: 5rem;
            padding: var(--space-m);
            width: 100px;
            height: 100px;
        }
        .temp {
            background-color: #d6d0b8d5;
            // border: var(--border-dark);
            border-radius: 5rem;
            padding: var(--space-m);
            font-size: var(--font-size-l);
            font-weight: bold;
            width: 100px;
            height: 100px;
            display: flex; /* Use Flexbox */
            align-items: center; /* Vertically center */
            justify-content: center; /* Horizontally center */
        }
        .time {
            background-color: #d6d0b8d5;
            // border: var(--border-dark);
            border-radius: 5rem;
            padding: var(--space-m);
            font-size: var(--font-size-m);
            font-weight: bold;
            width: 100px;
            height: 100px;
            display: flex; /* Use Flexbox */
            align-items: center; /* Vertically center */
            justify-content: center; /* Horizontally center */
        }
    }    
}

.current-condition {
    // border: var(--border-dark);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-m);
}

.seven-days {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    // border: var(--border-dark);

    h2 {
    }
    // position: relative;
    // overflow: hidden; /* Hide overflow to keep the layout neat */
    // width: 100%; /* Adjust as needed */
    // height: x; /* Adjust as needed */
}