header {
    grid-area: header;
    display: flex;

    flex-direction: column;
    justify-content: center;
    // border: var(--border-dark);

    h1 {
      position: relative;
      align-self: center;
      color: var(--color-primary);
      padding: var(--space-s) 0 var(--space-xl) 0;
      background: linear-gradient(70deg, #e04b5a 50%, white 50%);
      color: transparent; /* Hide the default text color */
      background-clip: text; /* For other browsers */

      .logo {
        position: absolute;
        left: 100px;
        bottom: 55px;
      }
    }

    .units {
      justify-content: end;

      display: flex;
      gap: var(--space-xxxs);

      .unit-group {
        
        background-color: var(--color-primary); /* Default background color */
        color: var(--color-white); /* Default text color */
        border: none; /* Remove border */
        // border: solid 1px var(--color-secondary);
        border-radius: var(--border-radius); /* Rounded corners */
        padding: var(--space-s); /* Padding */
        cursor: pointer; /* Pointer cursor on hover */
        font-size: var(--font-size-m); /* Font size */
        transition: background-color 0.3s, color 0.3s; /* Smooth transition for state changes */
      } 
    
      .unit-group.selected {
          background-color: var(--color-white); /* Background color for selected state */
          color: var(--color-dark); /* Text color for selected state */
          border: 2px solid var(--color-accent);
          pointer-events: none;
          cursor: default; /* Pointer cursor on hover */ /* Optional: border to highlight the selected button */
      }
    }
  }